In [1]:
!pip install pymongo

Requirement already satisfied: pymongo in c:\users\mihir\miniconda3\lib\site-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\mihir\miniconda3\lib\site-packages (from pymongo) (2.3.0)

In [2]:
import pymongo

In [3]:
client = pymongo.MongoClient("mongodb+srv://mihir:[Password]@cluster0.noikp4h.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [4]:
# Create Database
databse_name = 'student1'
student_database = client[databse_name]

In [5]:
# Create a Collection
collection = 'student_database'

In [6]:
student_deatils_collection = student_database[collection]

In [7]:
# Document create 
student_data = {
    "name": "Mihir",
    "collage": "imcc",
    "Address":"Pune"
}

In [8]:
# Document create 
student_data = {
    "name": "Manish",
    "collage": "mit",
    "Roll_number":78
}

In [9]:
student_deatils_collection.insert_one(student_data)

In [10]:
student_corsor = student_deatils_collection.find()

In [11]:
student_corsor.next()

{'_id': ObjectId('63ce845ded1df2881e2a8792'),
 'name': 'Manish',
 'collage': 'mit',
 'Roll_number': 78}

In [12]:
student_corsor.next()

{'_id': ObjectId('63ce847bb2facbff65e3b6ac'),
 'name': 'Manish',
 'collage': 'mit',
 'Roll_number': 78}

In [13]:
for student_details in student_deatils_collection.find():
    print(student_details)

{'_id': ObjectId('63ce845ded1df2881e2a8792'), 'name': 'Manish', 'collage': 'mit', 'Roll_number': 78}
{'_id': ObjectId('63ce847bb2facbff65e3b6ac'), 'name': 'Manish', 'collage': 'mit', 'Roll_number': 78}

In [14]:
# Insert Multiple records
stundet_data_list = [
    {"name":"Sbhubham", "last_name":"Kumar", "Course": "Cyber Security"},
    {"City": "bangalore", "name":"Sima", "Collage": "Mumbai University"},
    {"name": "Rahul", "Books": "machine Learning", "job": "Data Science"}
]

In [15]:
student_deatils_collection.insert_many(stundet_data_list)

In [16]:
for student_details in student_deatils_collection.find():
    print(student_details)

{'_id': ObjectId('63ce845ded1df2881e2a8792'), 'name': 'Manish', 'collage': 'mit', 'Roll_number': 78}
{'_id': ObjectId('63ce847bb2facbff65e3b6ac'), 'name': 'Manish', 'collage': 'mit', 'Roll_number': 78}
{'_id': ObjectId('63ce847db2facbff65e3b6ad'), 'name': 'Sbhubham', 'last_name': 'Kumar', 'Course': 'Cyber Security'}
{'_id': ObjectId('63ce847db2facbff65e3b6ae'), 'City': 'bangalore', 'name': 'Sima', 'Collage': 'Mumbai University'}
{'_id': ObjectId('63ce847db2facbff65e3b6af'), 'name': 'Rahul', 'Books': 'machine Learning', 'job': 'Data Science'}

In [17]:
# Filter operations

In [18]:
query = {"name":"Rahul"}

In [19]:
for student_details in student_deatils_collection.find(query):
    print(student_details)

{'_id': ObjectId('63ce847db2facbff65e3b6af'), 'name': 'Rahul', 'Books': 'machine Learning', 'job': 'Data Science'}

In [20]:
for student_details in student_deatils_collection.find({"name":"Rahul", 'Books': 'machine Learning'}):
    print(student_details)

{'_id': ObjectId('63ce847db2facbff65e3b6af'), 'name': 'Rahul', 'Books': 'machine Learning', 'job': 'Data Science'}

In [21]:
# Regular Expression
myquery = {"name":{"$regex":"^R"}}

In [22]:
doc = student_deatils_collection.find(myquery)

for x in doc:
    print(x)

{'_id': ObjectId('63ce847db2facbff65e3b6af'), 'name': 'Rahul', 'Books': 'machine Learning', 'job': 'Data Science'}

In [23]:
# Sort
doc = student_deatils_collection.find().sort("name")
for x in doc:
    print(x)

{'_id': ObjectId('63ce845ded1df2881e2a8792'), 'name': 'Manish', 'collage': 'mit', 'Roll_number': 78}
{'_id': ObjectId('63ce847bb2facbff65e3b6ac'), 'name': 'Manish', 'collage': 'mit', 'Roll_number': 78}
{'_id': ObjectId('63ce847db2facbff65e3b6af'), 'name': 'Rahul', 'Books': 'machine Learning', 'job': 'Data Science'}
{'_id': ObjectId('63ce847db2facbff65e3b6ad'), 'name': 'Sbhubham', 'last_name': 'Kumar', 'Course': 'Cyber Security'}
{'_id': ObjectId('63ce847db2facbff65e3b6ae'), 'City': 'bangalore', 'name': 'Sima', 'Collage': 'Mumbai University'}

In [24]:
# Delete operation
myquery = {"name": "Manish"}
student_deatils_collection.delete_one(myquery)

In [25]:
for x in student_deatils_collection.find():
    print(x)

{'_id': ObjectId('63ce847bb2facbff65e3b6ac'), 'name': 'Manish', 'collage': 'mit', 'Roll_number': 78}
{'_id': ObjectId('63ce847db2facbff65e3b6ad'), 'name': 'Sbhubham', 'last_name': 'Kumar', 'Course': 'Cyber Security'}
{'_id': ObjectId('63ce847db2facbff65e3b6ae'), 'City': 'bangalore', 'name': 'Sima', 'Collage': 'Mumbai University'}
{'_id': ObjectId('63ce847db2facbff65e3b6af'), 'name': 'Rahul', 'Books': 'machine Learning', 'job': 'Data Science'}

In [26]:
 # Delete multiple records
myqyery = {"name": {"$regex": "^M"}}

In [27]:
x = student_deatils_collection.delete_many(myqyery)

print(x.deleted_count, "Deleted record")

1 Deleted record